.container {
    display: flex; 
    justify-content: space-between;
    margin: 20px auto;
    max-width: 90%;
}

.container-x, 
.cesar-container {
    width: calc(50% - 25px); }
.container-x {
    margin-right: 10px; 
}
.cesar-container {
    margin-left: 10px; 
}

.cesar-title {
    color: #003366; 
    font-family: 'Arial', sans-serif;
    text-align: left; 
    margin-bottom: 10px; 
    font-size: 2.5rem; 
}

.cesar-label {
    color: #333; 
    font-weight: normal;
    font-size: .9rem; 
}

.cesar-instructions {
    padding: 10px;
    font-size: .9rem;
    background-color: #e7f1ff;
    border-left: 4px solid #0073e6;
}

.cesar-input,
.cesar-textarea {
    border-radius: 5px; 
    border: 1px solid #bbb;
    font-size: 1.1em; 
    padding: 10px; 
    width: 100%; 
}


.cesar-textarea {
    background-color: #fff;
}

/* Estilos móviles */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
        padding: 0 10px;
        align-items: center; /* Centrar el contenido */
    }

    .container-x,
    .cesar-container {
        width: 100%; /* Asegurar que ocupen el 100% del ancho en pantallas pequeñas */
        margin: 0; /* Eliminar márgenes en móviles */
        padding: 8px; 
    }
    .cesar-title {
        font-size: 1.6rem; /* Un tamaño intermedio */
    }

    .cesar-label {
        font-size: 1rem; /* Es un buen tamaño para móviles */
    }
     .cesar-input,
    .cesar-textarea {
        width: 100%; /* Asegurar que los campos ocupen todo el ancho disponible */
        font-size: 1rem; /* Ajustar un poco el tamaño del texto */
    }
      .cesar-btn {
        width: 100%;
        margin-top: 10px;
    }
}
.error-input {
    border-color: red;
}
