.container {
    display: flex; 
    justify-content: space-between;
    margin: 20px auto;
    max-width: 90%;
}

.container-x, 
.cesar-container {
    width: calc(50% - 25px); }
.container-x {
    margin-right: 10px; 
}
.cesar-container {
    margin-left: 10px; 
}

.cesar-title {
    color: #003366; 
    text-align: left; 
    margin-bottom: 0px; 
    font-size: 1.1rem; 
}

.cesar-label {
    color: #333; 
    font-weight: normal;
    font-size: .9rem; 
}

.cesar-instructions {
    padding: 10px;
    font-size: .9rem;
    background-color: #e7f1ff;
    border-left: 4px solid #0073e6;
}

.cesar-input,
.cesar-textarea {
    border-radius: 5px; 
    border: 1px solid #bbb;
    font-size: 1.1em; 
    padding: 10px; 
    width: 100%; 
}
.cesar-textarea {
    background-color: #fff;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
        padding: 0 10px;
        align-items: center; 
    }

    .container-x,
    .cesar-container {
        width: 100%;
        margin: 0; 
        padding: 8px; 
    }
    .cesar-title {
        font-size: 1.1rem;
    }

    .cesar-label {
        font-size: 1rem; 
    }
     .cesar-input,
    .cesar-textarea {
        width: 100%;
        font-size: 1rem; 
    }
      .cesar-btn {
        width: 100%;
        margin-top: 10px;
    }
}
.error-input {
    border-color: red;
}
