.App {
  text-align: center;
  background-color: #f4f4f4; }

h1 {
  font-size: 2rem;
  text-align: center;
  color: #123a63; 
  margin: 40px 10px 15px;
  font-family: 'Merriweather', serif; 
}

.ant-card-body p {
  text-align: left;
  font-size: .9rem;
  margin: 11px 0;
  color: #333; 
  font-family: 'Roboto', sans-serif; 
}

.ant-card-body-panel {
  text-align: left;
  font-size: .9rem;
  color: #333;
  font-family: 'Roboto', sans-serif; 
}

.ant-menu-horizontal {
  padding: 8px 20px;
  font-size: .7rem;
  background-color: #046fdbc8;
}

.App-body {
  padding:0px 0px;
  margin: 0 auto;
}

.ant-card {
  max-width: 660px;
  margin: 0px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
}

.App-footer {
  background-color: #2f2f2fab; 
  padding: 25px 20px;
  font-size: .7rem;
  color: #ffffff;
  text-align: center;
  font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  .ant-card-head-title {
    font-size: 1.4rem;
  }

  .ant-btn-primary {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .App-body {
    padding: 20px 10px;
  }

  .ant-card {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .ant-card-body p {
    font-size: .7rem;
    line-height: 1.6;
  }

  .App-footer {
    padding: 20px 15px;
  }
}
